[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "~=8.2.3"
sphinx-copybutton = "~=0.5.2"
sphinx-multiversion = "~=0.2.4"
furo = "==2025.9.25"

[dev-packages]
esbonio = "*"
doc8 = "*"
